modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["stripe:2.0.0"]

[userenv]

[userenv.production]
NODE_ENV = "production"
PRODUCTION_DATABASE_URL = "postgresql://progess:MiMo2101%21@sewer-swam-scheduler.cx00ge2s2t7u.eu-north-1.rds.amazonaws.com:5432/postgres"
